
.card {
    transition: transform .3s; 
}
  
.card:hover {
    transform: scale(1.1); 
}

.navbar-brand {
    transition: transform .3s; 
}
  
.navbar-brand:hover  {
    transform: scale(1.3); 
}

.svg {
    transition: transform .3s; 
}
  
.svg:hover  {
    transform: scale(1.2); 
}


.btn {
    background-color: rgb(31, 130, 177);
    color: white;
    border: white 1px solid;
} 

.badge {
    background-color: rgb(31, 130, 177);
    color: white;
    border: white 1px solid;
} 


.profile-image {
    margin-top: 40px;
    width: 270px;
    height: 250px;
    border-radius: 60%;
    border: 5px solid white;
    transition: all .7s;
    margin-bottom: 10px;
  }

  .profile-image:hover {
    transform: scale(1.1) rotate(5deg);
  }

